* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

body {
    font-family: Poppins, sans-serif;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    transition: .4s;
}

#header {
    background: white;
    padding: 20px 0;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: 2s ani alternate;
}

@keyframes ani {
    0% {
        transform: translateY(-1000px);
    }
    70% {
        transform: rotate(180deg);
    }
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo h1 {
    font-size: 30px;
    padding-left: 16px;
    color: #173A56;
    font-weight: 700;
}

.header-group {
    display: flex;
    align-items: center;
}

.header-group a {
    transition: .4s;
    font-size: 16px;
    font-weight: 500;
    color: #22343D;
    line-height: 28px;
    padding: 0 25px;
}

.header-group a:hover {
    font-weight: 600;
    color: #22343D;
}

.header-btn-one {
    font-size: 16px;
    background: transparent;
    border-radius: 6px;
    color: #173A56;
    border: 1px solid #BCD0E5;
    padding: 10px 25px;
    font-weight: 600;
}

.header-btn-two {
    font-size: 16px;
    color: white;
    background: #02897A;
    padding: 10px 25px;
    border-radius: 6px;
    margin: 0 24px;
    font-weight: 600;
}

.header-btn-three {
    background: #F3F3F3;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #02897A;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#client {
    padding: 100px 0;
}

.client h1 {
    font-size: 40px;
    font-weight: 700;
    color: #22343D;
    padding-bottom: 50px;
    text-align: center;
}

.client-logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

