@media (max-width: 1440px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
    .header-group {
        display: none;
    }
    .hero {
        flex-direction: column;
    }
    .hero-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 30px;
    }
    .product-general {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .product-group {
        padding-bottom: 20px;
    }
    .management {
        flex-direction: column-reverse;
    }
    .management-text {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding-top: 30px;
    }
    .customer {
        flex-direction: column;
    }
    .customer-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }
    .customer-group h6 {
        text-align: center;
    }
    .collaborative {
        flex-direction: column-reverse;
    }
    .collaborative-text {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding-top: 30px;
    }
    .collaborative-text p {
        text-align: center;
    }
    .price-general {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .price-block {
        margin-bottom: 30px;
    }
    .say-general {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .say-block {
        height: 236px;
        margin-bottom: 30px;
    }
    .join {
        width: 95%;
        padding: 0 0 0 30px;
    }
    .join img {
        width: 355px;
    }
    .burger-menu {
        display: block;
    }
}

@media (max-width: 992px) {
    
}

@media (max-width: 768px) {
    .process-general-one {
        flex-direction: column;
    }
    .process-general-two {
        flex-direction: column-reverse;
    }
    .content p {
        width: 90%;
    }
    .join {
        flex-direction: column;
        height: 100%;
        padding: 40px 0;
    }
    .join-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: -20px;
    }
    .footer-general {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px 0;
    }
}

@media (max-width: 576px) {
    .hero img {
        width: 90%;
    }
    .product h1 {
        width: 90%;
    }
    .management img {
        width: 90%;
    }
    .customer img {
        width: 90%;
    }
    .collaborative img {
        width: 90%;
    }
    .process p {
        width: 90%;
    }
}

@media (max-width: 450px) {
    .hero-text h1 {
        font-size: 36px;
        width: 90%;
        line-height: 50px;
    }
    .hero-text p {
        width: 90%;
    }
    .product-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .management-text h6 {
        width: 90%;
    }
    .management-text p {
        width: 90%;
    }
    .customer-group h6 {
        width: 90%;
    }
    .customer-icons {
        justify-content: center;
    }
    .customer-icons p {
        width: 300px;
    }
    .customer-icons-one {
        margin-right: 20px;
    }
    .customer-icons-two {
        margin-right: 20px;
    }
    .customer-icons-three {
        margin-right: 20px;
    }
    .collaborative-text p {
        width: 90%;
    }
    .process-text {
        width: 254px;
        height: 59px;
    }
    .process-text h3 {
        font-size: 15px;
    }
    .price-block {
        width: 322.65px;
        height: 456px;
    }
    .join-text h1 {
        width: 90%;
        font-size: 30px;
        line-height: 44.45px;
    }
    .footer-general {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-logo-group {
        padding-bottom: 20px;
    }
    .footer h5 {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 400px) {
    .hero-buttons {
        flex-direction: column;
    }
    .hero-buttons a ion-icon {
        padding: 0;
    }
    .hero-buttons button {
        margin-bottom: 20px;
    }
    .product h1 {
        font-size: 30px;
        line-height: 44px;
    }
    .customer-icons {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .customer-icons-one {
        margin-right: 0;
    }
    .customer-icons-two {
        margin-right: 0;
    }
    .customer-icons-three {
        margin-right: 0;
    }
    .customer-icons p {
        padding-top: 20px;
    }
    .process h1 {
        font-size: 30px;
    }
    .process-image img {
        width: 92px;
        height: 92px;
    }
    .process-text {
        width: 224px;
        height: 59px;
        text-align: center;
    }
    .process-text h3 {
        font-size: 15px;
        width: 90%;
    }
    .say p {
        width: 90%;
        margin: 0 auto;
    }
    .join-text h1 {
        font-size: 28px;
    }
}

@media  (max-width: 375px) {
    .process-image img {
        width: 82px;
        height: 82px;
    }
    .process-text {
        width: 214px;
        height: 59px;
    }
    .process h1 {
        font-size: 28px;
    }
}

@media  (max-width: 320px) {
    .customer-group h1 {
        text-align: center;
    }
    .customer-icons p {
        width: 90%;
    }
    .process-image img {
        width: 72px;
        height: 82px;
    }
    .process-text {
        width: 174px;
        height: 59px;
        text-align: center;
    }
    .process-text h3 {
        font-size: 14px;
    }
    .content h1 {
        text-align: center;
    }
    .content p {
        text-align: center;
        margin: 0 auto;
    }
    .price-block {
        width: 282.65px;
        height: 456px;
    }
    .join img {
        width: 90%;
    }
    .footer-input input {
        width: 265px;
    }
}